vapoursynth/*
*.opensdf
*.opendb
*.psess
*.sdf
*.suo
*.sln
*.filters
*.user
*.vspx
*.vsp
*.dll
*.avs
*.exe
*.db
avisynth/build/.vs/*
avisynth/build/Debug/*
avisynth/build/Release/*
avisynth/build/x64/*
avisynth/archives/*
